* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f1f5f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2c3e50;
}

.container {
    width: 85%;
    max-width: 850px;
    padding: 40px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: color 0.3s;
}

h1 {
    text-align: center;
    color: darkmagenta;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 50px;
}

.visi h2 {
    color:darkmagenta;
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.visi p {
    color: #333333;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
}

.misi h2 {
    color: darkmagenta;
    line-height: 1.6;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.misi p {
    color: #333333;
    line-height: 1.6;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 28px;
    }

    .visimisi p {
        font-size: 14px;
    }
}
